<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vip.file.mapper.FilesMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, created_time, modified_time, delete_status, target_id, file_path, file_name, suffix
    </sql>
    <select id="selectFileList" resultType="com.vip.file.model.dto.GetFileDto">
        select id, created_time, target_id, file_name, suffix
        from tb_files
        where delete_status = false
        order by created_time desc
    </select>
    <select id="fileIsExist" resultType="java.lang.Boolean">
        select count(id) > 0
        from tb_files
        where delete_status = false and file_path = #{fileName}
    </select>

</mapper>
